{% extends "base.html" %}
{% load i18n %}
{% load account account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div style="font-family:Segoe UI Symbol;" class="reset">
    <h1>{% trans "Логин" %}</h1>

    <p>{% blocktrans %}Если вы еще не создали свой аккаунт, тогда
        <a href="{{ signup_url }}">Регистрация</a>.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Войти" %}</button>
    </form>
</div>
{% endblock %}
