{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div style="font-family:Segoe UI Symbol;" class="reset">

    <h2>{% trans 'Вы действительно хотите выйти?' %}</h2>


    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button id="i" type="submit">{% trans 'Выйти' %}</button>
    </form>
</div>
{% endblock %}
