<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
<body style="background-color: #d9d9d9;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="logo" href="#">Обьявления.by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a id="a" class="nav-link" href="{% url 'adv_list' %}">На главную<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li id="e" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Меню доступных действий</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'adv_create' %}">Новое обьявление</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'gallery_list' %}">Мои галереи</a>
                    <a class="dropdown-item" href="{% url 'gallery_create' %}">Новая галерея</a>
                    <a class="dropdown-item" href="{% url 'photo_create' %}">Добавить фото</a>
                </div>
            </li>
            {% endif %}
        </ul>
        &nbsp;
        {% if user.is_authenticated %}
        <a href="{% url 'adv_create' %}" type="button" class="btn btn-outline-info">Создать обьявление</a>
        {% endif %}
        &nbsp;
        &nbsp;
        <form class="form-inline my-2 my-lg-0" action="{% url 'adv_list' %}" method="get">
            <input class="form-control mr-sm-2" name="val" type="search" placeholder="Начните ввод" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
        &nbsp;
        {% if user.is_authenticated %}
        <span><b> &nbsp;{{ user.username }}&nbsp; </b></span>
        <a id="d" class="nav-link" href="{% url 'account_logout' %}">Выйти</a>
        {% else %}
        <a id="b" class="nav-link" href="{% url 'account_login' %}">Вход</a>
        <a id="c" class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
        {% endif %}

    </div>
</nav>


{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>