{% block paginator %}
{% if is_paginated %}
<nav aria-label="...">
    <ul class="pagination">

        {% if page_obj.has_previous %} <!--Если есть предыдущая страница-->
        <li class="page-item">
            {% if search %}
            <a class="page-link" href="{{ request.path }}?val={{search}}&page={{ page_obj.previous_page_number }}"
               tabindex="-1"
               aria-disabled="true">Назад</a>
            {% else %}
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" tabindex="-1"
               aria-disabled="true">Назад</a>
            {% endif %}
        </li>
        {% else %} <!--Если нет предыдущей страницы-->
        <li class="page-item disabled">
            <a class="page-link" href="">Назад</a>
        </li>
        {% endif %}

        {% for n in paginator.page_range %} <!--Цикл по количеству страниц-->
        {% if page_obj.number == n %} <!--Если это текущая страница-->
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ n }}<span class="sr-only">(current)</span></a>
        </li>
        {% else %} <!--Если это не текущая страница-->
        {% if search %}
        <li class="page-item"><a class="page-link" href="{{ request.path }}?val={{search}}&page={{ n }}">{{ n }}</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ n }}">{{ n }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %} <!--Если есть следующая страница-->
        <li class="page-item">
            {% if search %}
            <a class="page-link" href="{{ request.path }}?val={{search}}&page={{ page_obj.next_page_number }}">Вперед</a>
            {% else %}
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Вперед</a>
            {% endif %}
        </li>
        {% else %} <!--Если нету следующей страницы-->
        <li class="page-item disabled">
            <a class="page-link" href="">Вперед</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}